main.index {
  --gap: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(45vh, auto);
  grid-template-areas:
    'featured featured featured featured'
    'featured featured featured featured'
    'about projects projects projects'
    'latest latest latest latest';
  /* height: 200vh; */
  grid-gap: var(--gap);
}

@media screen and (max-width: 750px) {
  main.index {
    margin: 0px;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-areas:
      'featured'
      'featured'
      'projects'
      'about'
      'latest';
  }
}

.grid-item {
  box-shadow: 0 3px 6px black;
}

@media screen and (max-width: 750px) {
  .grid-item {
    box-shadow: 0 1px 2px black;
  }
}
.grid-item--featured {
  grid-area: featured;
}

.grid-item--about {
  grid-area: about;
}

.grid-item--projects {
  grid-area: projects;
}

.grid-item--latest {
  grid-area: latest;
}

.about-section {
  width: auto;
}

.black-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+64 */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 64%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 64%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 64%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  height: 100%;
  overflow: hidden;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 95%;
  margin-left: 5px;
}

.about-container p,
.about-container h2 {
  color: white;
  padding: 1px;
  margin-bottom: 2px;
}

img.image {
  object-fit: contain;
  height: 90%;
}
